<!DOCTYPE html>
<html>
<head>
    <title>BlackJack - New Vegas</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Gamepage.css' %}">
    <link rel="shortcut icon" href="{%  static 'favicon.png' %}">
</head>
<div class="page">  
<div class="navbar">
    <p class="user"> {{ user }}</p>
    <p class="Balance">Balance: {{ balance }}</p> 
    <p > 
        <a class="LogOut" href="{% url "Logout" %}">
        Log Out
        </a>
    </p>
</div>
<body>
<div class="main">
    <h1>Dealers Hand<h1>
    <div id="DealerHand"></div>
    <h1>Players Hand<h1>
    <div id="PlayerHand"></div>
    <button id="StartGame">Start Game</button>
    <button id="Hit">Hit</button>
    <button id="Stand">Stand</button>
    <a href="{% url 'GamePage' %}" id="reload"></a>  
    <p id="Result"></p> 
</div>
</div>

</body>
<script src="{% static 'Gamepage.js' %}"></script>  
</html>
