<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>New Vegas</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/HomePage.css' %}">
</head>

<div class="main">
    <div class="box">
        <form action="" method='post'>
          {% csrf_token %} 
          <input type="username"  name="username" placeholder="Enter your username" required class="textbox" >
            <input type="password"  name="password" placeholder="Enter your Password" required class="textbox">
            <div class="link">
              <button type="submit" class="login">Login</button>
            </div>
            <div class="button">
              <a href="{% url 'signup' %}" >Create new account</a>
            </div>
          </form>
    </div>
</div>

</html>