@import url(User.css);
body {
  margin: 0;
  display: flex;
  
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("../svg/HomepageBG.svg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Franklin Gothic Medium', sans-serif;
}
.link .login {
  border: none;
  outline: none;
  cursor: pointer;
  background: #D2292D;
  padding: 14px 0;
  border-radius: 6px;
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  transition: 0.2s ease;
  width: 420px;
}
.link .login:hover {
  background: var(--black);
}
.button a {
  padding: 15px 20px;
  background: var(--green);
  border-radius: 6px;
  color: white;
  font-size: 1.063rem;
  font-weight: 600;
  transition: 0.2s ease;
  width: 420px;
}
#logo{
  width: 150px;
  height: 150px;
}